@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <div class="row">
        <p class="contact">Questions concerning a particular budget, expenditure or encumbrance should be brought to your department’s administrator or feel free to contract your Contract & Grant Accountant, listing available at <a href="https://www.uah.edu/c-g/contact" target="_blank">https://www.uah.edu/c-g/contact</a></p>
    </div>
    <div class="row">
        <p class="contact">Questions concerning the Research Dashboard capabilities and/or enhancements, contact John Doe, <a href="mailto:jdoe@uah.edu?Subject=Research%20Dashboard%20Questions" target="_top">jdoe@uah.edu</a> or 256-111-2222. </p>
    </div>
</div>
