
@{
    ViewBag.Title = "LoginFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>

<p>No active projects for this Principal Investigator can be displayed at this time.  If you believe this is an error, please contact your Contract Administrator in the Office of Sponsored Programs.</p>
